body{
    margin: 0;
    font-family: monospace, Helvetica, sans-serif;
    font-weight: 200;
    background-color: #1f1f21;
    height: 100%;
}
body p{
    font-family: monospace, Helvetica, sans-serif;
    color:aliceblue;
}
body button{
    color: #e3fc02;
    font-family: monospace, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1f1f21;
    overflow: hidden;
    
}

.topnav a{   
    padding: 16px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #e3fc02;
}
#left{
    float: left;
}
#right{
    float: right;
}

.topnav a:hover{
    background-color: gray;
    color: #e3fc02;
}

.topnav a.active{
    background-color: #e3fc02;
    color: #1f1f21;
}

.gomb{
    background-color: #1f1f21;
    color: #e3fc02;
    padding: 16px 22px;
    border: none;
    text-align: center;
    transition: 0.3s;
}
.gomb:hover{
    background-color: gray;
    color: #e3fc02;
    cursor: pointer;
}


.container {
    text-align: center;    
  }

#boritokep{
    opacity: 80%;
}
.centered{
   top: 50%;
   bottom: 50%;
   transform: translate(-50%,-50%);
}
#minta{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.bg-img{
    background-image: url("./képek/planner.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.form{
    right: 0;
    margin: 20px;
    max-width: 350px;
    padding: 16px;
    background-color: #1f1f21;
    font-family: monospace;
    color:#e3fc02
}

input[type=text], input[type=password] {
    width: 92%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.login {
    background-color: #e3fc02;
    color: #1f1f21;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .login:hover {
    opacity: 1;
  }