.kesz {
  background-color: green;
}
.nincs {
  background-color: red;
}
.folyamatban {
  background-color: blue;
}

.task {
  margin: 2rem;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  padding: 1rem;
  width: max-content;
}
.task h2 {
  font-family: monospace;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  width: 100%;
  border-style: none;
  padding: 1rem 3rem;
}
.task p {
  padding: 0.8rem;
  margin: 0;
  font-family: monospace;
  font-weight: 500;
  font-size: 1.45rem;
  color: black;
}
#felso{
  padding-bottom: 0;
}
.task input[type="date"] {
  background-color: transparent;
  border: 0;
}
.task select {
  width: 5rem;
  background-color: transparent;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
}
.task select:focus {
  outline: 0;
  
}
#leiras {
  font-size: 1rem;
  padding-top: 0.2rem;
}