body, html {
    margin: 0;
    font-family: monospace, Helvetica, sans-serif;
    font-weight: 200;
    background-color: #1f1f21;
    height: 100%;
  }
  body p {
    font-family: monospace, Helvetica, sans-serif;
    color: aliceblue;
  }