.TaskManager {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  width: min-content;
  margin-top: 0rem;
  padding: 2rem;
  gap: 1.25rem;
  min-height: 100vh;
  width: 100%;
}
