:root {
  --fekete: #1f1f21;
  --sarga: #e3fc02;
}
nav ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.topnav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color: var(--fekete);
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}
.ham {
  display: none;
}
.topnav li {
  padding: 1rem 1.4rem;
  height: 3.5rem;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.topnav li.active::after {
  width: 100%;
}
.topnav a {
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--sarga);
}
.topnav li::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  background-color: var(--sarga);
  width: 0;
  height: 3px;
  margin: 0 auto;
}
.topnav li:hover::after {
  width: 100%;
  transition: width .3s ease-in-out;
}

.topnav li:is(:link, :active, :visited).currant {
  background-color: gray;
  color: var(--sarga);
}

.logo {
  text-align: center;
  color: var(--sarga);
  font-family: monospace;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .topnav {
    position: fixed;
    flex-direction: column;
    justify-content: start;
    height: max-content;
    z-index: 10;
    padding: 0;
  }
  .logo {
    margin-left: 1rem !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding: 1rem;
  }
  .ham {
    display: block;
    background-color: transparent;
    border: 0;
    width: 3rem;
    height: 3rem;
    align-self: center;
    margin-right: 1rem;
  }
  ul:first-child {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    height: fit-content;
    width: 100%;
  }
  ul:nth-child(2) {
    margin-top: 2rem;
  }
  ul:not(:first-child) {
    flex-direction: column;
    height: fit-content;
    margin: 0;
  }
  ul:last-child {
    margin-bottom: 100%;
  }
  .topnav li {
    margin: 1.5rem auto;
  }
}
@media screen and (min-width: 700px) {
  ul:first-child {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  ul:first-child {
    display: block;
    order: 1;
    margin: auto;
  }
  ul:last-child {
    order: 2;
  }
}
.invisible {
  display: none;
}
