.kesz {
  background-color: green;
}
.nincs {
  background-color: red;
}
.folyamatban {
  background-color: blue;
}
.container{
  background-color:white;
  width: min-content;
  padding: 1rem;
  box-shadow: 1rem 1rem;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  height: fit-content;
}
.container > h1{
margin-left:auto;
margin-right:auto;
width:fit-content;
}
.task {
  margin: 1rem;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  padding: 1rem;
  width: max-content;
  box-shadow: 1rem 1rem;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  position: relative;
}
.inputs {
  width: min-content;
  display: flex;
  flex-direction: column;
}
.task h2 {
  font-family: monospace;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  width: 100%;
  border-style: none;
  padding: 1rem 3rem;
}
.task p {
  padding: 0.8rem;
  margin: 0;
  font-family: monospace;
  font-weight: 500;
  font-size: 1.45rem;
  color: black;
}

form input {
  width: 50%;
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 600;
}
.add{
  box-shadow: 0.5rem 0.5rem;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  color:black;
  margin-left:2rem'
}
input[type="date"], input[type="submit"]{
  outline: 0;
  width: fit-content;
}
input[type="date"]:target{
  border-bottom: 2px;
  border-color: black;
}
.task select {
  width: 10rem;
  background-color: transparent;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.task select:focus {
  outline: 0;
}
.task butto[type="submit"] {
  color: black;
  width: 90%;
  align-content: center;
  min-height: 1.5rem;
 
  border: 1px solid black;
  background-color: transparent;
  margin-left: 1rem;
  border-radius: 5ch;
}

#leiras {
  margin-top: 1rem;
  font-size: 1.25rem;
  padding-top: 0.2rem;
}

.newTask {
  padding: 1rem;
  min-height: 15rem;
  width: 30rem;
  margin-left: 3rem;
  color: white;
  border: 2px solid white;
}
.newTask h2 {
  text-align: center;
}
#fnev {
  margin-left: 2rem;
  margin-bottom: 1rem;
}


.newTask input[type="submit"] {
  font-family: monospace;
  width:100%;
  font-weight: 300;
  margin-bottom: 1rem;
  background-color: yellow;
  border: 0;
}
.input_row {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

input {
  position: relative;
  padding: 1rem;
  font-family: monospace;
  font-weight: 500;
  font-size: 1rem;
  border-width: 3px;
  border-color: black;
  background-color: transparent;
  width: 100%;
}
.container {
  font-size: medium;
  text-align: center;
  margin-left: auto;
  margin-right: 8rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
