.bg-img {
  background-image: url(../pics/lightbulb-g16c95b97f_1920.jpg);
  min-height: 110vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#kep {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 2%;
  top: 18rem;
}

.hero {
  display: block;
  position: relative;
}
.hero-text {
  font-family: monospace;
  font-size: 0.8rem;
  display: inline-block;
  position: absolute;
  color: black;
  padding-left: 5px;
  background-color: rgba(242, 216, 0, 1);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transform-origin: 0 0;
  top: 7rem;
  animation-name: myMove;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.hero-text h1 {
  margin-left: 30px;
  font-weight: bold;
}
.hero-text p {
  margin-left: 25px;

  font-family: monospace;
  font-size: 1.2rem;
  color: black;
}

@keyframes myMove {
  0% {
    left: 0%;
  }
  100% {
    left: 10%;
    animation-play-state: paused;
  }
}

@media screen and (max-width: 700px) {
  #kep {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25rem;
    width: 90%;
  }
  .hero-text {
    max-height: 150px;
    font-size: 0.5rem;
    top: 8rem;
  }
  .hero-text p {
    margin-left: 35px;
    font-family: Lucida Handwriting;
    margin-right: 15px;
    font-size: 0.8rem;
    color: black;
  }
}

.delete_button {
  position: absolute;
  background-color: blanchedalmond;
  border-width: 3px;
  color: black;
  padding: 4px;
  font-size: 25px;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  top: -1.4rem;
  right: -1.3rem;
}
.delete_button:hover{
  top: -1.3rem;
  cursor: pointer;
}
.save_button{
  color:black;
  box-shadow: 0.5rem 0.5rem;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  cursor:pointer;
}