
.newTask {
  padding: 1rem;
  min-height: 15rem;
  width: 30rem;
  margin-left: 3rem;
  color: white;
  border: 2px solid white;
}
.newTask h2 {
  text-align: center;
}
#fnev {
  margin-left: 2rem;
  margin-bottom: 1rem;
}


.newTask input[type="submit"] {
  font-family: monospace;
  width:100%;
  font-weight: 300;
  margin-bottom: 1rem;
  background-color: yellow;
  border: 0;
}
.input_row {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
