hr{
  color:black;
  height: 2px;
}
.container {
  background-color:blanchedalmond;
  color: black;
  width: 60%;
  padding:3rem;
  padding-top: 1rem;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.container h2{
  text-align: center;
  margin-right: 2.2rem;
}
.name {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.input_row li {
  display: block;
  text-align: start;
  text-decoration: none;
  font-size: 1rem;
  font-family: monospace;
  font-weight: 500;
}

.input_row {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.input_row input[type]{
  box-shadow: 0.5rem 0.5rem;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

input {
  padding: 1rem;
  font-family: monospace;
  font-weight: 500;
  font-size: 1rem;
  border-width: 3px;
  border-color: black;
  background-color: transparent;
  width: 100%;
  align-content: center;
}
input:focus {
  outline: none;
}

.profilkep{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: black;
  padding: 0.5rem;
  border: none;
}
.profilkep img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#submit{
  width: 80%;
  color: black;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
  box-shadow: 0.5rem 0.5rem;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

#submit:hover{
  box-shadow: 0.6rem 0.6rem;
}

#center{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding: 2rem;
  }
  .name {
    flex-direction: column;
    gap: 0;
  }
  .input_row li {
    font-size: 1.2rem;
  }
  input {
    padding: 0.5rem;
  }
}
