body,
html {
  margin: 0;
  font-family: monospace, Helvetica, sans-serif;
  font-weight: 200;
  background-color: #1f1f21;
  height: 100%;
}
body p {
  font-family: monospace, Helvetica, sans-serif;
  color: aliceblue;
}
body button {
  color: #e3fc02;
  font-family: monospace, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
}
.shadow{
  box-shadow: 0.6rem 0.6rem black;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}
.gomb {
  background-color: #1f1f21;
  color: #e3fc02;

  border: none;
  text-align: center;
  transition: 0.3s;
}
.gomb:hover {
  background-color: gray;
  color: #e3fc02;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background-image: url("../pics/kavezok.jpg");
}
.img2 {
  background-image: url("../pics/bike2.jpg");
}
.img3 {
  background-image: url("../pics/sulyzok.jpg");
}
.img4 {
  background-image: url("../pics/kocsma.jpg");
}
.img5 {
  background-image: url("../pics/futas2.jpg");
}

.gimg1 {
  background-image: url("../pics/chill.jpg");
}
.gimg2 {
  background-image: url("../pics/pár.jpg");
}
.gimg3 {
  background-image: url("../pics/task2.jpg");
}
.gimg4 {
  background-image: url("../pics/coffee-gc0ac3039f_1920.jpg");
}

.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: 0.5rem solid #e3fc02;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 24rem;
  height: 23rem;
  padding: 0.8rem 0.8rem;
}

table {
  text-align: center;
  border-collapse: collapse;
  padding: 20px;
  margin: 0;
}

table th {
  vertical-align: middle;
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: #e3fc02;
  height: 2.5rem;
}

table td {
  vertical-align: middle;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e3fc02;
  padding-right: 5px;
  height: 6rem;
}

#use {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}
#ingyen {
  color: red;
}

@media print {
  header,
  header,
  footer,
  img {
    display: none;
  }
  h1,
  h2,
  h3,
  p,
  a,
  b,
  th,
  td {
    font-size: initial !important;
    font-weight: initial !important;
    color: black !important;
    font-size: 15pt !important;
    margin: initial;
  }
  * {
    background: none !important;
  }
  *::after {
    content: none !important;
  }
  *::before {
    content: none !important;
  }
  div,
  p,
  span,
  form {
    aspect-ratio: initial !important;
    height: auto !important;
    width: auto !important;
    padding: initial !important;
    margin: initial !important;
    display: initial !important;
    position: initial !important;
    float:left !important;
  }
  input,
  button {
    border: groove !important;
  }
}
