body, html {
  margin: 0;
  font-family: monospace, Helvetica, sans-serif;
  font-weight: 200;
  background-color: #1f1f21;
  height: 100%;
}
body p {
  font-family: monospace, Helvetica, sans-serif;
  color: aliceblue;
}
body button {
  color: #e3fc02;
  font-family: monospace, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.gomb {
  background-color: #1f1f21;
  color: #e3fc02;
  padding: 16px 22px;
  border: none;
  text-align: center;
  transition: 0.3s;
}
.gomb:hover {
  background-color: gray;
  color: #e3fc02;
  cursor: pointer;
}

.container {
  text-align: center;
}


.centered {
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.form {
  right: 0;
  margin: 20px;
  max-width: 350px;
  padding: 16px;
  background-color: #1f1f21;
  font-family: monospace;
  color: #e3fc02;
}

input[type="text"],
input[type="password"] {
  width: 92%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.login {
  background-color: #e3fc02;
  color: #1f1f21;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.login:hover {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 80%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 { background-image: url("../képek/kavezok.jpg"); }
.img2 { background-image: url("../képek/bike.jpg"); }
.img3 { background-image: url("../képek/sulyzok.jpg"); }
.img4 { background-image: url("../képek/kocsma.jpg"); }
.img5 { background-image: url("../képek/futas.jpg"); }

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.7); 
  color: #fff;
  font-weight: bold;
  font-size: 27px;
  border: 10px solid #e3fc02;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  height: 60%;
  padding: 30px 30px;
  
}
#use{
  font-size: 36px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;;
}
#ingyen{
  color: red;
}

footer{
  font-family: monospace;
  font-size: 15px;
  color:#e3fc02;
  padding: 30px 30px;
}
